.site-layout-background{
  background: #fff;
}

.header-layout-background{
    background: #fff;
    border-bottom: 1px solid #1890ff;
}

.footer-layout-background{
    background: #fff;
    text-align: center;
}

.inner-content{
    min-height: 748px;
    padding: 20px;
}